<form [formGroup]="form">
  <label for="name">Name</label>
  <input formControlName="name" id="name" type="text" class="form-control" />

  <label for="firstname">Firstname</label>
  <input formControlName="firstname" id="firstname" type="text" class="form-control" />

  <label for="job">Job</label>
  <input formControlName="job" id="job" type="text" class="form-control" />

  <label for="age">Age</label>
  <input formControlName="age" id="age" type="number" class="form-control" />

  <label for="cin">Cin</label>
  <input formControlName="cin" id="cin" type="number" class="form-control" />

  <label for="path">Path</label>
  <input formControlName="path" id="path" type="text" class="form-control" />

  <button (click)="addCv()" [disabled]="form.invalid" class="btn btn-primary">Envoyer</button>
</form>
